---
import Hamburger from '@/components/l2/Hamburger.astro';
import ThemeIcon from '@/components/l2/ThemeIcon-DaisyUISwap.astro';
---

<nav class="navbar bg-base-100">
  <div class="navbar-start md:hidden">
    <label for="my-modal-4">
      <Hamburger />
    </label>
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal">
      <div class="modal-box relative h-screen">
        <label
          for="my-modal-4"
          class="btn btn-sm btn-circle absolute right-2 top-2">✕</label
        >
        <ul class="menu">
          <li><a class="justify-center uppercase" href="/">Home</a></li>
          <li><a class="justify-center uppercase" href="/about/">About</a></li>
          <li><a class="justify-center uppercase" href="/blog">Blog</a></li>
          <li><a class="justify-center uppercase" href="/tags">Tags</a></li>
        </ul>
      </div>
    </label>
  </div>

  <div class="navbar-center hidden md:flex">
    <div>
      <a
        class="inline-block px-[15px] py-[20px] uppercase text-[1.2rem] font-bold"
        href="/">Home</a
      >
      <a
        class="inline-block px-[15px] py-[20px] uppercase text-[1.2rem] font-bold"
        href="/about/">About</a
      >
      <a
        class="inline-block px-[15px] py-[20px] uppercase text-[1.2rem] font-bold"
        href="/blog">Blog</a
      >
      <a
        class="inline-block px-[15px] py-[20px] uppercase text-[1.2rem] font-bold"
        href="/tags">Tags</a
      >
    </div>
  </div>

  <div class="navbar-end">
    <ThemeIcon />
  </div>
</nav>
