---
import Hamburger from '@/components/l2/Hamburger.astro';
import Navigation from '@/components/l3/Navigation.astro';
import ThemeIcon from '@/components/l2/ThemeIcon.astro';
---

<nav>
  <Hamburger />
  <div style="display:flex;">
    <Navigation />
    <ThemeIcon />
  </div>
</nav>
