---
import Hamburger from '@/components/l2/Hamburger.astro';
import ThemeIcon from '@/components/l2/ThemeIcon-DaisyUISwap.astro';
---

<nav class="navbar p-0">
  <!-- Hamburger button and fullscreen menu for mobile devices -->
  <div class="navbar-start md:hidden">
    <label for="my-modal-4">
      <Hamburger />
    </label>
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal">
      <div class="modal-box relative h-screen">
        <label
          for="my-modal-4"
          class="btn btn-sm btn-circle absolute right-2 top-2">✕</label
        >
        <ul class="menu">
          <li><a class="justify-center uppercase" href="/">Home</a></li>
          <li><a class="justify-center uppercase" href="/about/">About</a></li>
          <li><a class="justify-center uppercase" href="/blog">Blog</a></li>
          <li><a class="justify-center uppercase" href="/tags">Tags</a></li>
        </ul>
      </div>
    </label>
  </div>

  <div class="navbar-start hidden lg:flex">
    <a class="uppercase font-bold" href="/">Khoa Solo</a>
  </div>

  <!-- Horizontal menu on desktop -->
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/tags">Tags</a></li>
    </ul>
  </div>

  <div class="navbar-end">
    <ThemeIcon />
  </div>
</nav>
