---
import { getAllBlogPosts } from '@/content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Tag from '@/components/l2/Tag.astro';

const allPosts = await getAllBlogPosts();
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = 'Tag Index';

function randomCount() {
  return Math.floor(Math.random() * (20 - 1) + 1);
}
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-6 mt-16">
    {uniqueTags.map((tag) => <Tag tag={tag} />)}
  </div>
</BaseLayout>
