---
import { getAllBlogPosts } from '@/data/content';
import PageLayout from '@/layouts/PageLayout.astro';
import Tag from '@/components/Tag.astro';

const allPosts = await getAllBlogPosts();
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = 'Tag Index';

function randomCount() {
  return Math.floor(Math.random() * (20 - 1) + 1);
}
---

<PageLayout pageTitle={pageTitle}>
  <div class="flex flex-wrap gap-6 mt-16">
    {uniqueTags.map((tag) => <Tag tag={tag} />)}
  </div>
</PageLayout>
