---
import Hamburger from '@/components/Hamburger.astro';
import ThemeIcon from '@/components/ThemeIcon-DaisyUISwap.astro';

// https://www.cyishere.dev/blog/astro-active-nav-item
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav class="navbar p-0">
  <!-- Hamburger button and fullscreen menu for mobile devices -->
  <div class="navbar-start md:hidden">
    <label for="my-modal-4">
      <Hamburger />
    </label>
    <input type="checkbox" id="my-modal-4" class="modal-toggle" />
    <label for="my-modal-4" class="modal">
      <div class="modal-box relative">
        <label
          for="my-modal-4"
          class="btn btn-sm btn-circle absolute right-3 top-2">✕</label
        >
        <ul class="menu pt-8">
          <li>
            <a
              class:list={[
                'justify-center uppercase font-bold',
                currentPath === '' ? 'active' : '',
              ]}
              href="/">Home</a
            >
          </li>
          <li>
            <a
              class:list={[
                'justify-center uppercase font-bold',
                currentPath === 'about' ? 'active' : '',
              ]}
              href="/about">About</a
            >
          </li>
          <li>
            <a
              class:list={[
                'justify-center uppercase font-bold',
                currentPath === 'blog' ? 'active' : '',
              ]}
              href="/blog">Blog</a
            >
          </li>
          <!-- <li><a class="justify-center uppercase font-bold" href="/tags">Tags</a></li> -->
        </ul>
      </div>
    </label>
  </div>

  <div class="navbar-start hidden lg:flex">
    <a class="uppercase font-bold" href="/">Khoa Solo</a>
  </div>

  <!-- Horizontal menu on desktop -->
  <div class="navbar-center hidden md:flex">
    <ul class="menu menu-horizontal">
      <li>
        <a
          class:list={[
            'uppercase font-bold',
            currentPath === '' ? 'active' : '',
          ]}
          href="/">Home</a
        >
      </li>
      <li>
        <a
          class:list={[
            'uppercase font-bold',
            currentPath === 'about' ? 'active' : '',
          ]}
          href="/about">About</a
        >
      </li>
      <li>
        <a
          class:list={[
            'uppercase font-bold',
            currentPath === 'blog' ? 'active' : '',
          ]}
          href="/blog">Blog</a>
      </li>
      <!-- <li><a class="uppercase font-bold" href="/tags">Tags</a></li> -->
    </ul>
  </div>

  <div class="navbar-end">
    <ThemeIcon />
  </div>
</nav>
