---
import '@/styles/global.css';
const { pageTitle, pageDesc } = Astro.props;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={pageDesc} />
    <title>{pageTitle}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <slot />
  </body>
</html>
