---
import DocumentLayout from '@/layouts/DocumentLayout.astro';
import Footer from '@/components/l4/Footer.astro';
import Header from '@/components/l4/Header.astro';
const { frontmatter } = Astro.props;
---

<DocumentLayout pageTitle={frontmatter.title}>
  <Header />
  <div class="prose my-16">
    <slot />
  </div>
  <div class="flex-1"></div>
  <Footer />
</DocumentLayout>
