---
import Document from '@/layouts/Document.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
const { frontmatter } = Astro.props;
---

<Document
  pageTitle={frontmatter.title}
  pageDesc={frontmatter.description}
  image={frontmatter.image}
>
  <Header />
  <div class="prose my-16">
    <slot />
  </div>
  <div class="flex-1"></div>
  <Footer />
</Document>
